In [17]:
a = 5
a * 2

10

마크다운
텍스트

In [13]:
a = 4
a * 4

16

In [22]:
A = 25
print("A =", A)
print("A = " + str(A))
print("A = {0}, a = {1}".format(A,a))

A = 25
A = 25
A = 25, a = 5

In [23]:
b_var = True
l_var = 5
f_var = 2.5
s_var = "python"
b_var, l_var, f_var, s_var

(True, 5, 2.5, 'python')

In [27]:
i_var = 110
i_var
new_var = 111+f_var
new_var

113.5

In [28]:
var1, var2, var3, var4 = 1, 2, 3, 4
var1, var2, var3, var4

(1, 2, 3, 4)

In [34]:
bn = 0b101010101
on = 0o101010101
hn = 0x101010101
bn, on, hn
bn2 = bin(341)
on2 = oct(17043521)
hn2 = hex(4311810305)
bn2, on2, hn2,type(hn2)

('0b101010101', '0o101010101', '0x101010101', str)

In [50]:
3.1/2
3.5//2
j1, j2 = 2 + 3j, 2 - 3j 
j1, j2,
j3 = j1 * j2
j3
j1.real, j1.imag, j1.conjugate()
j1.conjugate == j2, type(j2), type(j1.conjugate), j3/2

(False, complex, builtin_function_or_method, (6.5+0j))

In [51]:
true = True
false = False
var_t_and_f = true & false
true, false, var_t_and_f

(True, False, False)

In [60]:
float(true)
var_number = "12"
float(var_number)
var_str_a = "A"
chr(ord(var_str_a)), ord(var_str_a)

('A', 65)

연산자

In [74]:
var_a, var_b, var_c = 53, 32, 11
var_a + var_b, var_b - var_c, var_a // (var_c*0.1), 53.1//2, var_a/2, var_a//2

(85, 21, 48.0, 26.0, 26.5, 26)

연산함수

In [2]:
round(3.5,0), round(4.51,0)

(4.0, 5.0)

In [5]:
var_a, var_b = -17, 2
var_x, var_y = divmod(var_a, var_b)
var_x, var_y, type(divmod(var_a, var_b))

(-9, 1, tuple)

In [15]:
import math
math.pi
math.trunc(math.pi)
math.exp(5)
pow(3,4), math.pow(3,4)
0.1+0.2

0.30000000000000004

관계연산자

In [29]:
w, x, y, z = -5, 256, -6, 257
w ==-5, w is -5, x == 256, x is 256, y == -6, y is -6, z == 257, z is 257
id(z), id(257), id(x), id(256), id(258),id(258),id(0), id(0)

(1580835952048,
 1580835954160,
 140731906437920,
 140731906437920,
 1580835952432,
 1580835952432,
 140731906429728,
 140731906429728)

문자열

In [43]:
s = "Python 데이터 분석"
print("{0}\t{1}".format(s[7:11], s[13:7:-1]))
#del s
s
list(reversed(s)), s

데이터 	석분 터이

(['석', '분', ' ', '터', '이', '데', ' ', 'n', 'o', 'h', 't', 'y', 'P'],
 'Python 데이터 분석')

In [77]:
s = "pyTHON은 쉬워서 PROgramming하기 편해요"
s.title(), type(s.title()), s
s.find("b"), s.rfind("a"), s.find("a"), s.index("m"), s.rindex("m")
s.startswith("P"), s.index("P"), s.startswith("P", 12,23), s.count("m")
n = "이병훈"
a = "27"
s2 = "{}의 나이는 {}세 입니다".format(n,a)
s2
s.split(" "), s.split(" ", 2), s.split(" ", 1)

(-1, 17, 17, 18, 19)